<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918081502081-hrncg82hmphp3huahlo6grolegrr5p05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918081502081-hrncg82hmphp3huahlo6grolegrr5p05</string>
	<key>API_KEY</key>
	<string>AIzaSyB8cER3-DvSne31AYDODxYpRhhv8Axyr6c</string>
	<key>GCM_SENDER_ID</key>
	<string>918081502081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.creatorConnect</string>
	<key>PROJECT_ID</key>
	<string>cre-ad</string>
	<key>STORAGE_BUCKET</key>
	<string>cre-ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918081502081:ios:b2b7cb1c7b069f93740680</string>
</dict>
</plist>